
  <div class="input" align="center">
      <form class="" action="/" method="post">

        <h1>Registration Numbers:</h1><br>
        <input type="text" name="regNumber" placeholder="Enter Registration Number" value=""><br></br>
        <input type="submit" class="button" name="addButton" value="Add"><br><br>

        <div class="output">
            <ol>
              <!-- <li class="regPlates"></li> -->
            </ol>
        </div>

      </form>
      </div>
